.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.titulo {
  text-align: center;
  font-weight: 500;
  color: #3a3a3a;
}

.form {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background: linear-gradient(150deg, #04003c, #15007f, #100387);
  width: 400px;
  height: 550px;
  border-radius: 12px;
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.2);
}

.inputPadrao {
  width: 295px;
  height: 35px;
  border-radius: 8px;
  outline: none;
  padding-left: 10px;
  border: 2px #6a4cff solid;
}

.inputPadrao:focus {
  outline: 3px #6aadff solid;
}

.inputErro:focus {
  outline: 3px #ff6565 solid;
}

.inputErro {
  width: 295px;
  height: 35px;
  border-radius: 8px;
  outline: none;
  padding-left: 10px;
  border: 2px #ff0000 solid;
  animation: shake 1.2s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(8px);
  }
  40% {
    transform: translateX(-6px);
  }
  60% {
    transform: translateX(6px);
  }
  80% {
    transform: translateX(-4px);
  }
}

.label {
  display: flex;
  flex-direction: column;
  color: aliceblue;
}

.msgErro {
  color: #ffffff;
  margin-top: 10px;
  font-size: 14px;
}

.btn {
  width: 290px;
  height: 35px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: #628fff;
  color: #ffffff;
  transition:
    transform 0.3s,
    background-color 0.3s,
    transform 0.15s;
}

.btn:hover:not(:disabled) {
  transform: translateY(-5px);
  background-color: #1302ffda;
}

.btn:active:not(:disabled) {
  transform: translateY(0);
}

.btn:disabled {
  background-color: #a5a5a5;
  cursor: not-allowed;
}
