.navBar{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: rgb(204, 204, 204);
    position: sticky;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
}

.layout{
    background-color: rgb(23, 0, 105);
    color: aliceblue;
    font-size: 28px;
    padding: 1rem;
    font-weight: 500;
}

.navBar p, a {
    text-decoration: none;
    color: aliceblue;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    background-color: none;
    border-radius: 8px;
    padding: 5px;
    transition: background-color 0.3s;
}

.navBar a:hover{
    background-color: #4c6dff;
}

.footer{
    text-align: center;
    background-color: rgb(0, 0, 55);
    padding: 1rem;
    color: #fff;
}